
:root {
    --font: 'Montserrat', sans-serif;


    --orange: #F2994A;
    --orange2: #df8c43;
    --grey1: #333333;
    --grey2: #4F4F4F;
    --grey3: #828282;
    --grey4: #BDBDBD;
    --grey5: #E0E0E0;
    --grey6: #F2F2F2;
    --green: #2ecc71;
    --red: #e74c3c;
}

.marg-left { margin-left: 3.1rem;}
.marg-top { margin-top: 5.8rem;}
.marg-btm {margin-bottom: 9.5rem;}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.wrapper {
    font-family: var(--font);
    margin: 6.4rem auto 2.3rem auto;
    max-width: 96.1rem;

}

.checkout {
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 5rem;
}

.flex-container {
    width: 100%;
    display:flex;
    justify-content: space-evenly;

}

.flex-container__form {
    display: flex;
    flex-direction: column;
    width: 46.5rem;
    margin-right: auto;
    
}

.flex-container__form--h2 {
    font-size: 1.8rem;
    
    color: var(--grey1);
    margin-bottom: 1.4rem;
}


.form-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}


.form__label {
    font-size: 1.2rem;
    color: var(--grey2);
    margin: 2rem 0 .7rem 0; 
    display: block;
}

.icon {
    position: absolute;
    left: 1.4rem;
    top: 0;
    font-size: 2rem;
    color: var(--grey3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input {
    display: block;
    color: var(--grey1);
    border: 1px solid var(--grey3);
    border-radius: 1.2rem;

    width: 46.5rem;
    height: 5.6rem;
    line-height: 2rem;
    outline: 0;
    padding-left: 5.2rem;
    font-size: 1.6rem;
    font-family: var(--font);
    font-weight: 600;
    cursor: text;
}

.form__input::placeholder {
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--grey3);
    font-weight: 600;
}

.form__flex-box {
    display: flex;
}

.short {
    width: 21.7rem;
    display: inline-block;
}

.world {
    appearance: none;
    cursor: pointer;
}

.icon2 {
    position: absolute;
    right: 1.4rem;
    top: 1.6rem;
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--grey5);
    border-radius: .4rem;
}

.region {

background-image: url(images/chevron.png);
background-repeat: no-repeat;
background-size: 2rem;
background-position: right;

}

.btn-wrapper {
    display: flex;
    align-content: center;

    margin-top: 2rem;
}

[type="checkbox"] {
    opacity:0;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 3.2rem;
    cursor: pointer;
    line-height: 2.2rem;
}

[type="checkbox"] + label::before {
    position:absolute;
    left: 0;
    top: 0;
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid var(--grey3);
    border-radius: .4rem;
}

[type="checkbox"]:checked + label::before {
    content: "\002714";
    background-color: var(--orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


.btn {
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.6rem;
    color: white;


    width: 16.6rem;
    height: 5.4rem;
    border: none;
    border-radius: 1.2rem;

    background-color: var(--orange);
    margin-top: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover { transform: translateY(-.3rem) }

.btn:active { transform: translateY(-.1rem); background-color: var(--orange2); }






.flex-container__preview {
    background-color: var(--grey6);
    display: flex;
    flex-direction: column;
    width: 38.3rem;
    height: 53.5rem;
    border-radius: 1.2rem;
}

.flex-container__preview--article {
    display: flex; 
    align-items: center;
    margin-top: 3rem;
}

.img {
width: 13.4rem;
height: 13.6rem;
border-radius: 1.3rem;
margin-left: 3rem;
}

.flex-container__preview__info {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
}

.flex-container__preview__info--name {
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.6rem;
    
}

.flex-container__preview__info--price {
    display: flex;
    margin-top: .8rem;
}

.flex-container__preview__info--price--actual {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--orange);
    margin-right: 1rem;
}

.flex-container__preview__info--price--normal {
    font-weight: 600;
    font-size: 1.2rem;
    color: #4E5150;
    text-decoration: line-through;
}


.counter-wrapper {
    margin-top: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5.2rem;
    width: 13.4rem;
    background-color: var(--grey6);

    border: 1px solid var(--grey3);
    border-radius: 1.2rem;
}

.counter-wrapper--minus {
    width: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--grey5);
    color: var(--grey3);
    cursor: pointer;
}

.counter-wrapper--num {
    width: 6rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--grey3);
}

.counter-wrapper--plus {
    width: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--grey5);
    color: var(--grey3);
    cursor: pointer;
}

.flex-container__preview__subtotal {
    width: 80%;
    height: 4rem;
    align-self: center;
    border-top: 1px solid var(--grey4);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container__preview__subtotal--indicator {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--grey1);
}

.flex-container__preview__subtotal--num {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--grey1);
}

.form__input.success {
    border: 3px solid var(--green);
}

.form__input.error {
    border: 3px solid var(--red);
}


.icon.success {
    color: var(--green);
}

.icon.error {
    color: var(--red);
}

.message {
    visibility: hidden;
}

.message.error {
    visibility: visible;
    color: var(--red);
    font-size: 1rem;

}

.form__input.short.world.error {
    width: 21.7rem;
    display: inline-block;
}

.form__input.short.world.success {
    width: 21.7rem;
    display: inline-block;
}



.devchallenges {
    font-style: var(--font);
    text-align: center;
    font-size: 1.4rem;
    color: #BDBDBD;

    margin: 6.4rem auto 2.3rem auto;
    max-width: 96.1rem;

}


@media only screen and (max-width: 65.625em) {  /* 1050 px   */

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .checkout {  margin-bottom: 2rem; }


    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .flex-container__preview { margin-bottom: 4rem; }


    .flex-container__form {
        margin-right: initial;
        order: 1;
    }
}



@media only screen and (max-width: 34.375em) {  /* 550 px */

    .checkout { font-size: 2.4rem; }


    .flex-container__preview {
        width: 35rem;
        height: 48.9rem;
    }


    .img {
        width: 12.2rem;
        height: 12.4rem;
        margin-left: 2.6rem;
        }

        .flex-container__preview__info--name { font-size: 1.2rem; }

        .flex-container__preview__info { margin-left: 1.8rem; }

        .flex-container__preview__info--price--actual { font-size: 1.4rem; }

        .flex-container__preview__info--price--normal { font-size: 1rem; }

        .counter-wrapper {
            margin-top: 3rem;
            height: 4.9rem;
            width: 12.2rem;
        }

        .flex-container__preview__subtotal { height: 3.7rem; }

        .flex-container__preview__subtotal--indicator { font-size: 1.4rem; }


    .form-section { width: 35rem; }

    .flex-container__form--h2 {
        font-size: 1.4rem;
        width: 18rem;
        margin-bottom: 0;
    }


    .form__label {
        font-size: 1rem;
        margin: 1rem 0 .5rem 0; 
    }


    .form__input {
        width: 35rem;
        height: 4rem;
        line-height: 1.5rem;
        padding-left: 3.5rem;
        font-size: 1.2rem;
    }

        .form__input::placeholder { font-size: 1.2rem; }

    .marg-top { margin-top: 3.5rem;}

    .icon {
        left: 1rem;
        font-size: 1.8rem;
    }

    .icon2 {
        right: 1.2rem;
        top: 1.1rem;
    }


    .short {
        width: 16.2rem;
        display: inline-block;
    }

    .form-section--small {
        width: 16.2rem;
    }

    .form__input.short.world.error { width: 16.2rem; }
    
    .form__input.short.world.success { width: 16.2rem; }

    .flex-container__form {  width: 35.5rem; }

}



@media only screen and (max-width: 26.5625em) {  /* 426 px  */


    .checkout {
        align-self: flex-start;
        margin-left: 2rem;
    }


}


@media only screen and (max-width: 23.4375em) {  /* 375 px px  */

    .wrapper { margin: 2.2rem auto 2.3rem auto; }

    .checkout { font-size: 2.4rem; }

    .flex-container__preview { width: 30rem; }

    .form-section { width: 28rem; }

    .form__input { width: 28rem; }

    .short { width: 12.2rem; }

    .form-section--small { width: 12.2rem; }

    .flex-container__form { width: 28rem;}

    .form__input::placeholder { font-size: 1rem; }

    .icon2 { display: none; }


    .form__input.short.world.error { width: 12.2rem; }
    
    .form__input.short.world.success { width: 12.2rem; }

}